:root {
  scroll-behavior: smooth;
  --text-color: #003f2f;
  --light-text-color: #d0efb5;
  --title-color: #011b01;
  --subtitle-color: #183f20;
  --light-subtitle-color: #f3e595;
  --theme-color: #64a36f;
  --highlight-color: #ffe121;
  --border-color: #4ba54d;
  --button-color: #e76838;
  --button-color-2: #fa4848;
  --box-shadow: #568564;
  --box-shadow-light: #db9c12;
  --background-color: #f0c15a;
  --background-light-color: #fcf7ed;
  --link-color: #185018;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.15);
  }
}
.body {
  background-color: var(--background-color);
}
.header {
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--background-light-color);
  box-sizing: border-box;
  box-shadow: 0 0.3rem 0.3rem 0 var(--box-shadow-light);
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.header_nav__logo_container {
  display: flex;
  width: 3rem;
}
.header_nav__logo {
  width: 100%;
}
.header_nav__link_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.header_nav__link_item {
  list-style: none;
}
.header-nav__link {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 600;
  font-family: "PT Serif", serif;
}
.main {
  background-color: var(--background-color);
  width: 100%;
}
.home {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
}
.home_container {
  text-align: center;
  gap: 1.5rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}
.home_title_subtitle_container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.home_title {
  color: var(--title-color);
  font-size: 2.5rem;
  margin: 0;
  font-family: "Playfair Display", serif;
}
.home_subtitle {
  color: var(--subtitle-color);
  margin: 0;
  font-family: "PT Serif", serif;
  font-weight: bold;
}
.home_info_container {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_info {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  color: var(--text-color);
  margin: 0.5rem;
}
.button_home_container {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_home,
.button_shop {
  display: block;
  background-color: var(--border-color);
  border: 0.1rem solid var(--link-color);
  color: var(--light-text-color);
  font-family: "PT Serif", serif;
  font-weight: 600;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 0.6rem;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  transition: all 0.1s ease-in-out;
}

.button_home:hover::after {
  content: "🛒";
}
.button_home:hover,
.button_about:hover,
.button_shop:hover,
.button_contact_us:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px var(--box-shadow);
}
.banner_image_container {
  display: flex;
  width: 20rem;
  margin: auto;
}
.banner_image_animated {
  width: 100%;
}
.section_trees {
  width: 100%;
}
.container_trees {
  display: flex;
  width: 100%;
}
.svg-separator-sep8 {
  width: 100%;
}
.about {
  background-color: var(--theme-color);
  color: var(--text-color);
}
.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.2rem 1.5rem 1.5rem 1.5rem;
  background-color: var(--theme-color);
}
.about_title,
.shop_title,
.contact_info_title {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 1rem;
}
.about_icons_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1rem;
}
.about_icon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
}
.about_icon {
  width: 50%;
}
.about_info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 0.1rem;
}
.about_icon_title {
  font-family: "PT Serif", serif;
  font-size: medium;
}
.about_icon_content {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: small;
}
.button_about {
  display: block;
  background-color: var(--box-shadow-light);
  border: 0.1rem solid var(--box-shadow-light);
  color: var(--title-color);
  box-shadow: var(--title-color);
  font-family: "PT Serif", serif;
  font-weight: 600;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 0.6rem;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  transition: all 0.1s ease-in-out;
}

.shop_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}
.shop_imgs_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}
.shop_img_container_list {
  padding: 0;
  margin: 2%;
}

.shop_img_container_listed_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
  margin: auto;
}
.shop_img {
  width: 100%;
  border-radius: 30%;
}
.shop_img_title {
  margin: 0.2rem 0 1rem 0;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: large;
  font-weight: bold;
}
.button_shop {
  padding: 1rem;
}

.contact {
  background-image: url(https://i0.wp.com/wallpapersfortech.com/wp-content/uploads/2021/03/792dad4.png?resize=928%2C1482&ssl=1);
  gap: 1rem;
  padding: 1rem 1.5rem;
}
.contact_info_container {
  background: rgba(254, 202, 160, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(254, 202, 160, 0.26);
  margin: 1rem;
}
.contact_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.contact_form_textarea {
  height: 10rem;
  width: 100%;
  resize: none;
}
.container_button_contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.button_contact_us {
  display: block;
  background-color: var(--border-color);
  border: 0.1rem solid var(--link-color);
  color: var(--light-text-color);
  font-family: "PT Serif", serif;
  font-weight: 600;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 0.6rem;
  margin: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  transition: all 0.1s ease-in-out;
}
.footer_nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}
.footer_nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
}
.footer_nav {
  background-color: var(--title-color);
  color: var(--light-subtitle-color);
}
.footer_nav_icon {
  list-style: none;
}
.footer_nav_icon_link {
  text-decoration: none;
  color: var(--light-subtitle-color);
}
.footer_nav_title {
  font-weight: 400;
  font-size: 0.6rem;
  text-align: center;
  margin: 0;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 300;
}
@media (min-width: 800px) {
  .shop_container .shop_imgs_container {
    padding: 0;
  }
  .shop_img_container_list {
    margin: 0 5%;
    gap: 1.5rem;
    display: flex;
  }
  .shop_img {
    max-height: 525px;
  }
  .contact {
    padding: 1rem 20%;
    background-size: cover;
  }

  .contact_info_container {
    max-width: fit-content;
    margin: auto;
  }
  .contact_form_container {
    gap: 1rem;
    margin: 1.5rem;
  }
}
