:root {
  scroll-behavior: smooth;
  --text-color: #003f2f;
  --light-text-color: #d0efb5;
  --title-color: #011b01;
  --subtitle-color: #183f20;
  --light-subtitle-color: #f3e595;
  --theme-color: #64a36f;
  --highlight-color: #ffe121;
  --border-color: #4ba54d;
  --button-color: #e76838;
  --button-color-2: #fa4848;
  --box-shadow: #568564;
  --box-shadow-light: #db9c12;
  --background-color: #f0c15a;
  --background-light-color: #fcf7ed;
  --link-color: #185018;
}
.body {
  background-color: var(--background-color);
}
.header {
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--background-light-color);
  box-sizing: border-box;
  box-shadow: 0 0.3rem 0.3rem 0 var(--box-shadow-light);
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.header_nav__logo_container {
  display: flex;
  width: 3rem;
}
.header_nav__logo {
  width: 100%;
}
.header_nav__link_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.header_nav__link_item {
  list-style: none;
}
.header-nav__link {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 600;
  font-family: "PT Serif", serif;
}
.main {
  background-color: var(--background-color);
  width: 100%;
}
.home {
  padding: 2rem 0;
}
.home_container {
  text-align: center;
  gap: 1.5rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}
.home_title_subtitle_container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.home_title {
  color: var(--title-color);
  font-size: 2.5rem;
  margin: 0;
  font-family: "Playfair Display", serif;
}
.home_subtitle {
  color: var(--subtitle-color);
  margin: 0;
  font-family: "PT Serif", serif;
  font-weight: bold;
}
.home_info_container {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_info {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  color: var(--text-color);
}
.button_home_container {
}
.button_home {
}
.banner_image {
  height: 512px;
}
.banner_image_animated {
}
