:root {
  scroll-behavior: smooth;
  --text-color: #001f3f;
  --subtitle-color: #2f3e75;
  --light-subtitle-color: #f3e595;
  --theme-color: #64a36f;
  --highlight-color: #ffe121;
  --light-text-color: #d0efb5;
  --border-color: #4ba54d;
  --button-color: #e76838;
  --button-color-2: #fa4848;
  --box-shadow: #568564;
  --box-shadow-light: #db9c12;
  --background-color: #f0c15a;
  --background-light-color: #fcf7ed;
}
.header {
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--background-light-color);
  box-sizing: border-box;
  box-shadow: 0 0.3rem 0.3rem 0 var(--box-shadow-light);
}
.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.header_nav__logo_container {
  display: flex;
  width: 3rem;
}
.header_nav__logo {
  width: 100%;
}
.home {
  background-color: rgb(255, 156, 85);
}
.banner_image {
  height: 512px;
}
